.sngLyout-Section_Wrapper{

}
.sngLyout-Section{}
.sngLyout-Section_Header{
  width: 1280px;
  text-align: center;
  margin: 0 auto;
}
.sngLyout-Section_Title{
  display: inline-block;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}
.sngLyout-Section_SubTitle{
  display: block;
  color: $color__button-orenge;
}
.sngLyout-Section_Content{
  width: 100%;
}
