.boldDsn-Header_Wrapper{
  //position: relative;
  //z-index: 10;
  width: 100%;
  background-color: #F5DB36;
}
.boldDsn-Header{
  position: relative;
  background-color: #f3d52f;
  max-width: 1600px;
  height: 800px;
  margin: 0 auto;
  text-align: center;
}

.boldDsn-Header_TitleWrapper{
  padding: 150px 0 50px;
}
.boldDsn-Header_SubTitle{
  @include font-size( 50 / 22);
  color: #000;
  font-weight: 200;

}
.boldDsn-Header_Title{
  @include font-size( 210 / 22);
  color: #ffffff;
}
.boldDsn-Header_Anchor-main{
  position: absolute;
  right: 0;
  top: 90px;
  width: 90px;
  height: 135px;

}
.boldDsn-Header_Anchor-sub{
  text-align: center;
}
.boldDsn-Header_Text{
  @include font-size(31  / 22);
  color: #000;
}
.boldDsn-Header_Text-bold{
  @include font-size(31  / 22);
  font-weight: 900;

}
.boldDsn-Header_BgEdge{
  //background-color: ;
  position: relative;
  z-index: 2;
  width:100%;
  height:50px;
  background: url("./images/bold-dsn/edge-darkyellow.png") repeat-x top 10px left #f3d52f;

}