.sw-Header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width:1600px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-color: #f3d52f;
}

.sw-Header_Title{
  @include font-size(26 / 22);
}