.boldDsn-Text{
  @include font-size(23 / 22);
}
.boldDsn-Text-bold{
  font-weight: bold;

}
.boldDsn-Text-thin{
  font-weight: 200;
}
.boldDsn-Text-sm{}
.boldDsn-Text-lg{
  @include font-size(26 / 22);
}
.boldDsn-Text-red{
  color: #e94a4f;
}
.boldDsn-Text_UnderLine-pink{
  //display: inline-block;
  border-bottom: 1px solid #f4a6b8;
}

.boldDsn-Text_Width-465{
  width: 465px;

}