.cstomLyout-Section{}
.cstomLyout-Section_Header{
  width: 650px;
  background: url(./images/cstomLyout/cta-border.png) no-repeat right -50px center;
}
.cstomLyout-Section_Title{}
.cstomLyout-Section_SubTitle{}
.cstomLyout-Section_TitleDscript{
  width: 260px;
}
.cstomLyout-Section_Content{}