@import "dropdown";
@import "fullscrollAnimate";
@import "accordion";
@import "arrow";
@import "slick";
@import "textslide";
@import "modal";


@import "arrange/cstomLyout";
@import "single/sngLyout";
@import "flex/flex";
@import "works/works";
@import "fullpagescroll/fullpagescroll";
@import "panel/panel";

//js用のscss
@import "js/slick";
@import "js/slick-theme";


//block
.namespace-block{
  max-width: 1020px;
  min-width: 787px;
  margin: 0 auto;
}

.namespace-Main{
  max-width: 1280px;
  min-width: 1020px;
  margin: 0 auto;
  //background-color: #00a0d2;
}

.namespace-Main-cstomLyout{
  position: relative;
  //overflow: hidden;
  word-break: break-all;

}



#fadeInFix_AnchorTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  //@include media-query('sp'){
  //  display: none;
  //}
}
#fadeInFix_AnchorTopButton a {
  //background: #666;
  display: block;
  width: 100px;
  padding: 0px 0;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  @include font-size(12 / 16);
  border-radius: 5px;
  //@include media-query('sp'){
  //  display: none;
  //}
}
#fadeInFix_AnchorTopButton a:hover {
  text-decoration: none;
  //background: #999;
}