.mqg-BeautyItem{
  max-width: 1080px;
  margin: 0 auto;
}

.mqg-BeautyItem_List{
  //max-width: 1080px;
  display: flex;
  flex-wrap: wrap;
  //margin: 0 auto;
}

.mqg-BeautyItem_ListItem{
  width: 350px;
}